/* **************************************************************

    Table of Contents:

    1. Global Style
    2. Header
    3. About
    4. 

****************************************************************/






/* 
    1. Global Style
****************************************************************/

body {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.58;
    color: #555555;
    background: -moz-linear-gradient(270deg, #ff0060 0%, #ff6975 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0060), color-stop(100%, #ff6975)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #ff0060 0%, #ff6975 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #ff0060 0%, #ff6975 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #ff0060 0%, #ff6975 100%); /* ie10+ */
    background: linear-gradient(180deg, #ff0060 0%, #ff6975 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0060', endColorstr='#ff6975',GradientType=0 ); /* ie6-9 */ 
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #000000;
}

/* Section */

.section {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

/* Card View */

.card-block {
    padding: 4rem;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.card-block .block-title {
    margin-bottom: 2.5rem;
    font-size: 28px;
}

@media (max-width: 991.98px) {
    .card-block {
        padding: 2.5rem;
    }
}

/* Social links */

.social-links a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 25px;
}

.social-links a:last-child {
    margin-right: 0;
}


.background-image-layer {
    background-image: url("assets/img/gray-image2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 30%;
    box-shadow: inset 0 -40px 60px 10px #ff0060;
    opacity: .15;
}


/* 
    Header
*************************************************************** */

.header-section {
    margin-bottom: 0;
}

.header {
    padding: 4rem 0 3rem;
}

.header h1 {
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.header p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 13px;
}




/* 
    About Me
*****************************************************************/

@media (max-width: 991.98px) {
    .about-me .col-lg-4 {
        margin-bottom: 1rem;
    }
}



/* 
    Portfolio
*****************************************************************/

.portfolio .temp-detail {
    font-size: 22px;
    margin-bottom: 10px;
}

.portfolio .desc {
    font-size: 16px;
    margin-bottom: 8px;
    
}

.portfolio ul {
    list-style: none;
}

.portfolio ul li {
    margin-bottom: 5px;
    color: #333333;
}

.portfolio ul li i {
    text-align: center;
    color: #111111;
    width: 18px;
    margin-right: 6px;
}

.portfolio ul li .color {
    width: 14px;
    height: 14px;
    background-color: #000000;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.portfolio .project .project-image {
    position: relative;
    overflow: hidden;
}

.portfolio .project .project-image .preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0;
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.portfolio .project .project-image .preview a {
    font-size: 15px;
    text-decoration: none;
    padding: 4px 12px;
    margin-top: -40px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    background: #ffffff;
    color: #ff0066;
    border-color: #ff0066;
    border-color: rgba(255, 0, 102, 0.7);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.portfolio .project .project-image .preview a:hover {
    background: #f1f1f1;
}

.portfolio .project .project-image:hover .preview {
    opacity: 1;
}

.portfolio .project .project-image:hover .preview a {
    margin-top: 0;
}

@media (max-width: 991.98px) {
    .portfolio .col-xl-6:first-child {
        margin-bottom: 1rem;
    }
}




/* 
    Services
*******************************************************************/

.service {
    position: relative;
    width: 100%;
}

.service .service-item {
    background-color: #f5f5f5;
    border: 1px double #cccccc;
    padding: 2rem;
}

.service .service-item h2 {
    color: #222222;
    font-size: 28px;
    margin-bottom: 10px;
    
}

.service .service-item h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.service .service-item p {
    color: #333333;
    margin-bottom: 5px;
}




/* 
    Education
************************************************************************ */

.education .years {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.education h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 14px;
}

.education .dept {
    color: #777777;
    margin-bottom: 5px;
}



/* 
    Language
**************************************************************************/

.language h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.language h3 small {
    color: #777777;
    font-size: 16px;
}





/* 
    Contact
********************************************************************** */

.contact form .form-control {
    margin-bottom: 15px;
    background-color: #eeeeee;
    padding: 0 15px;
    border-color: #dfdfdf;
}

.contact .form-control:focus,
.contact .form-control:hover{
    box-shadow: none;
    border-color: #d0d0d0;
}

.contact form .form-control::placeholder {
    color: #999999;
    opacity: 1;
}

.contact form .form-control::-moz-placeholder {
    color: #999999;
}

.contact form .form-control::-webkit-input-placeholder {
    color: #999999;
}

.contact input[type=text],
.contact input[type=email] {
    height: 44px;
}

.contact .textarea {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    min-height: 140px;
}

.contact input[type=submit] {
    background-color: #ff0066;
    color: #ffffff;
    padding: 7px 15px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: -moz-linear-gradient(180deg, #ff0060 0%, #ff6975 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff6975), color-stop(100%, #ff0060)); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, #ff0060 0%, #ff6975 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, #ff0060 0%, #ff6975 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, #ff0060 0%, #ff6975 100%); /* ie10+ */
    background: linear-gradient(270deg, #ff0060 0%, #ff6975 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6975', endColorstr='#ff0060',GradientType=1 ); /* ie6-9 */ 
}

.contact input[type=submit]:hover {
    opacity: 0.92;
}



/* 
    Footer
******************************************************************* */

.footer-section {
    padding:  2rem 0 4rem;
}

.footer p {
    color: #ffffff;
    letter-spacing: 2px;
}

.footer .social-links a {
    font-size: 22px;
}