/* 
    Table of Content

    1. Global Style
*/






/***********************************************************************
    Global Style
************************************************************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555555;
}

p {
    line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
    color: #505050;
}

h1, h2 {
    font-weight: 800;
}

h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: #13A4FF;
}

.btn {
    color: #13A4FF;
    border-color: #13A4FF;
    animation: none;
    -webkit-animation: none;
}

.btn:hover {
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
}

.btn:focus {
    box-shadow: none;
}



/************************************************************************
    Slick Slider
*************************************************************************/

.slick-slider:focus,
.slick-slide:focus {
    outline: none !important;
}

.slick-dots li {
    margin: 0 3px;
}

.slick-slider .slick-dots {
    bottom: -35px;
}

.slick-slider .slick-dots button::before {
    font-size: 10px;
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    color: #13A4FF;
    opacity: .8;
}

.slick-slider .slick-dots li.slick-active button::before {
    color: #13A4FF;
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}



/************************************************************************
    Animations
************************************************************************/

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(19, 165, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(19, 165, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse-white {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}



/***********************************************************************
    Social Icons Style
************************************************************************/

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    font-size: 18px;
    margin: 0 10px;
    padding: 0;
}

.social-icons a.facebook {
    color: #3b5998;
}

.social-icons a.twitter {
    color: #1da1f2;
}

.social-icons a.skype {
    color: #00aff0;
}

.social-icons a.linkedin {
    color: #0077b5;
}

.social-icons a.github {
    color: #6e5494;
}

.social-icons span {
    display: inline-block;
    width: 100px;
    border-bottom: 1px solid #13A4FF;
}

.social-icons span:first-of-type{
    margin-right: 10px;
}

.social-icons span:last-of-type {
    margin-left: 10px;
}





/**************************************************************************
    Navbar Style
***************************************************************************/

.navbar {
    padding: 27px 0;
    background-color: transparent !important;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.navbar .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 26px;
}

.navbar .navbar-brand img  {
    max-height: 40px;
}


@media (min-width: 992px) {

    .navbar .container-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
        font-weight: 400;
        padding: 0;
        margin-right: 28px;
        transition: all 250ms;
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -ms-transition: all 250ms;
        -o-transition: all 250ms;
    }

    .navbar-dark .navbar-nav .nav-link:last-child {
        margin-right: 0;
    }

    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:active {
        color: rgba(255, 255, 255, 0.96);
    }
  
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #ffffff !important;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }
    
    .navbar .hire-btn {
        background-color: #13A4FF;
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: #ffffff;
        font-weight: 600;
        padding: 7px 25px;
        font-size: 16px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        box-shadow: none;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }

    .navbar .hire-btn:hover {
        animation: pulse-white 2s infinite;
        -webkit-animation: pulse-white 2s infinite;
}

    /* After Scroll */

    .navbar.scrolled {
        padding: 15px 0;
        background-color: rgba(19, 165, 255, 0.92) !important;
    }

    .navbar-dark.scrolled .navbar-nav .nav-link {
        color: #ffffff;
    }
}

@media (max-width: 991.98px) {

    .navbar .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar {
        padding: 15px 0;
    }

    .click-bg {
        background-color: rgba(19, 165, 255, 0.85) !important;
    }

    #topNavbar.scrolled {
        background-color: rgba(19, 165, 255, 0.85) !important;
    }

    .navbar .nav-link {
        color: #ffffff !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        position: relative;
    }

    .navbar .nav-link::before {
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }

    .navbar .nav-link:hover,
    .navbar .nav-link.active {
        padding-left: 8px;
        color: rgba(0, 0, 0, 0.7) !important;
    }

    .navbar .nav-link:hover::before,
    .navbar .nav-link.active::before {
        margin-right: 6px;
        opacity: 1;
        visibility: visible;
    }

    #topNavbar .hire-btn {
        margin-top: 20px;
        color: #ffffff;
        padding: 7px 25px;
        border-color: #ffffff;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        box-shadow: none;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar .navbar-nav {
        margin-top: 3px;
    }

    .navbar-dark .navbar-toggler {
        box-shadow: none;
        outline: none ;
        
    }

    .navbar-dark .navbar-toggler:hover {
        border-color: rgba(255, 255, 255, 0.2);
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        width: 31px;
        height: 31px;
    }
    
}







/**************************************************************************
    Header Style
***************************************************************************/

.header {
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-inner {
    /* background-color:rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(19, 165, 255, 0.2); */
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.header .call-to-action {
    height: 700px;
    min-height: 700px;
    align-items: center;
}

.header .call-to-action h2 {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 800;
    word-spacing: 4px;
}

.header .call-to-action h1 {
    color: #fdfdfd;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
    word-spacing: 4px;
}

.header .call-to-action h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    word-spacing: 3px;
}

.header .call-to-action .know-me-btn {
    color: #ffffff;
    background-color: #13A4FF;
    font-weight: 600;
    padding: 7px 25px;
    border-width: 2px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -ms-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.header .call-to-action .know-me-btn:hover {
    opacity: 0.85;
}

.header .arrow-down {
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    
}

@media (max-width: 991.98px) {
    .header .call-to-action {
        height: 650px;
        min-height: 650px;
    } 
    
    .header {
        background-image: url(../img/hero-bg-992.jpg);
    }
}

@media (max-width: 767.98px) {
    .header {
        background-image: url(../img/hero-bg-768.jpg);
    }
}

@media (max-width: 575.98px) {
    .header .call-to-action h2 {
        font-size: 25px;
        word-spacing: 0;
    }
    
    .header .call-to-action h1 {
        font-size: 42px;
        word-spacing: 0;
    }
    
    .header .call-to-action h4 {
        font-size: 17px;
        word-spacing: 0;
        line-height: 24px;
    }
}



/*******************************************************************************
    Section Style
********************************************************************************/

.section {
    padding: 70px 0;
}

.section.section-white {
    background-color: #ffffff;
}

.section.section-colored {
    background-color: #13A4FF0D;
}

.section .section-heading {
    text-align: center;
    margin-bottom: 60px;
}

.section .section-heading p {
    margin: 0;
    font-weight: 600;
    color: #777777;
}

.section .section-heading h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

.section .section-heading hr {
    width: 100px;
    border-width: 4px;
    border-color: #13A4FF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}




/*******************************************************************************
    About Section Style
********************************************************************************/

.about-section .about-content img {
    border: 1px solid rgba(19, 165, 255, .8);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.about-section .about-content h2 {
    font-size: 28px;
    margin-bottom: 9px;
    font-weight: 700;
}

.about-section .about-content h2 span {
    color: #13A4FF;
    background: -webkit-linear-gradient(#7b3ff3, #13A4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.about-section .about-content h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #666666;
}

.about-section .about-content p {
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: justify;
    border-bottom: 1px dashed #bbbbbb;
    color: #656565;
}

.about-section .about-content h6 {
    line-height: 28px;
    font-weight: 600;
}

.about-section .about-content h6 span {
    font-weight: 400;
    margin-left: 5px;
    color: #646464;
}

.about-section .about-content .social-icons {
    margin-top: 25px;
}

@media (max-width: 767.98px) {
    .about-section .col-md-4 {
        margin-bottom: 30px;
    }
}





/*******************************************************************************
    Service Section Style
********************************************************************************/

.service-section.section {
    padding-bottom: 60px;
}

.service-section .service-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 25px;
    text-align: center;
    border: 1px solid #13A4FF;
    background: linear-gradient(to left, transparent 50%, #13A4FF 50%) right;
    background-size: 200%;
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
}

.service-section .service-item:hover {
    background-position: left;
    cursor: default;
}

.service-section .service-item h5 {
    font-size: 20px;
    margin-bottom: 12px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.service-section .service-item p {
    margin: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.service-section .service-item:hover h5,
.service-section .service-item:hover p {
    color: #ffffff;
}

.service-section .service-item .img-wrap {
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

.service-section .service-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease !important;
    -webkit-transition: all .5s ease !important;
    -moz-transition: all .5s ease !important;
    -ms-transition: all .5s ease !important;
    -o-transition: all .5s ease !important;
}

.service-section .service-item img.hover-img {
    opacity: 0;
    visibility: hidden;
}

.service-section .service-item:hover img.front-img {
    opacity: 0;
    visibility: hidden;
}

.service-section .service-item:hover img.hover-img {
    opacity: 1;
    visibility: visible;
}





/****************************************************************************
    Testimonial Section Style
****************************************************************************/

.testimonial-section  .quotation-marks {
    color: #13A4FF;
    font-size: 42px;
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
    z-index: 1;
}

.testimonial-section .testimonial-slider-item .slider-content {
    background-color: rgba(19, 165, 255, 0.2);
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(78, 78, 78, 0.45);
    margin-bottom: 5px;
    position: relative;
}

.testimonial-section .testimonial-slider-item .slider-content .client {
    margin-bottom: 15px;
}

.testimonial-section .testimonial-slider-item .slider-content .client img {
    margin-right: 15px;
    width: 72px;
    height: 72px;
    border: 5px solid #13A4FF;
    /* border: 5px solid #ffffff; */
}

.testimonial-section .testimonial-slider-item .slider-content .client h6 {
    /* color: #ffffff; */
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.testimonial-section .testimonial-slider-item .slider-content .client p {
    margin: 0;
    font-weight: 600;
    color: #666666;
    /* color: #f0f0f0; */
}

.testimonial-section .testimonial-slider-item .slider-content .testimonial-text {
    margin: 0;
    text-align: justify;
    /* color: #f5f5f5 !important; */
}

.testimonial-section .testimonial-slider {
    opacity: 0;
    visibility: hidden;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.testimonial-section .testimonial-slider.slick-initialized {
    opacity: 1;
    visibility: visible;
}


@media (max-width: 575.98px) {
    .testimonial-section  .quotation-marks {
        font-size: 36px;
        margin-bottom: -60px;
        margin-right: 15px;
    }

    .testimonial-section  .quotation-marks .float-left {
        display: none;
    }

    .testimonial-section .testimonial-slider-item .slider-content {
        margin: 0;
    }
}





/*****************************************************************************
    Resume Section Start
******************************************************************************/

.resume-section.section {
    padding-bottom: 60px;
}


.resume-section .title {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 800;
}

.resume-section .resume-item {
    position: relative;
    border: 1px solid #13A4FF;
    margin-bottom: 30px;
    padding: 45px 30px 45px 45px;
    margin-left: 30px;
}

.resume-section .resume-item .icon {
    width: 52px;
    height: 52px;
    text-align: center;
    font-size: 21px;
    line-height: 52px;
    color: #ffffff;
    background-color: #13A4FF;
    border-radius: 50%;
    position: absolute;
    left: -26px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.resume-section .resume-item .year {
    margin: 0 0 10px;
    line-height: 1;
}

.resume-section .resume-item .profession {
    margin: 0 0 10px;
    line-height: 1;
    font-weight: 800;
}

.resume-section .resume-item .institute {
    margin: 0 0 12px;
    line-height: 1;
}

.resume-section .resume-item .desc {
    margin: 0;
}


@media (max-width: 575.98px) {
    .resume-section .resume-item {
        padding-top: 40px;
        padding-bottom: 40px;
    }    
}





/**************************************************************************
    Skill Section Style
***************************************************************************/

.skill-section .skill-item {
    margin-bottom: 30px;
    position: relative;
}

.skill-section .skill-item h5 {
    font-size: 18px;
    font-weight: 700;
    color: #666666;
    line-height: 1;
    margin-bottom: 11px;
    position: relative;
}

.skill-section .skill-item .percent {
    position: absolute;
    right: 0;
    bottom: -2px;
    font-weight: 600;
    padding: 0 8px 0 0;
    font-size: 16px;
}

.skill-section .skill-item .progress {
    height: 18px;
    background-color: #CCCCCC;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skill-section .skill-item .progress .progress-bar {
    background-color: #13A4FF;
    text-align: right;
    padding-right: 12px;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
}

.skill-section  .download-btn {
    margin-top: 30px;
    border-color: #13A4FF;
    color: #13A4FF;
    border-width: 3px;
    font-weight: 700;
    padding: 8px 25px;
}


@media (min-width: 768px) {
    .skill-section .skill-item {
        margin-left: 5px;
        margin-right: 5px;
    }
}



/***************************************************************************
    Portfolio Section Start
****************************************************************************/

.portfolio-section.section {
    padding-bottom: 60px;
}


.portfolio-section .portfolio-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.portfolio-section .portfolio-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.portfolio-section .portfolio-item .item-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: -25px;
    background-color: rgba(19, 165, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.portfolio-section .portfolio-item .item-action-btn .btn {
    border-color: #ffffff;
    color: #ffffff;
    font-weight: 600;
    border-width: 2px;
    padding: 7px 25px;
    font-size: 15px;
}

.portfolio-section .portfolio-item:hover .item-action-btn {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}




/***************************************************************************
    Blog Section Style
****************************************************************************/

.blog-section.section {
    padding-bottom: 60px;
}

.blog-section .blog-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.blog-section .card {
    border-color: #13A4FF;
}

.blog-section .card h4 {
    font-size: 18px;
    font-weight: 800;
}

.blog-section .card .card-body {
    padding: 25px;
}

.blog-section .card .card-text {
    margin: 0;
    line-height: 28px;
}

.blog-section  .item-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-top: -25px;
    background-color: rgba(19, 165, 255, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.blog-section  .item-action-btn .btn {
    border-color: #ffffff;
    color: #ffffff;
    font-weight: 600;
    border-width: 2px;
    padding: 7px 25px;
    font-size: 15px;
}

.blog-section .blog-item:hover .item-action-btn {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}






/******************************************************************************
    Contact Section Style
******************************************************************************/

.contact-section .contact-contents h5 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.contact-section .contact-contents p {
    margin-bottom: 22px;
    line-height: 27px;
    color: #656565;
}

.contact-section .contact-contents h6 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-section .contact-contents h6 span {
    font-weight: 400;
    margin-left: 4px;
    color: #656565;
}

.contact-section .contact-contents .social-icons {
    margin-top: 25px;
}

.contact-section .contact-form .form-control {
    margin-bottom: 25px;
    padding: 20px 15px;
    box-shadow: none;
    border-color: #cccccc;
    color: #757575;
}

.contact-section .contact-form .form-control:focus {
    border-color: #13A4FF;
}

.contact-section .contact-form .form-control::placeholder {
    color: #888888;
}
.contact-section .contact-form .form-control::-moz-placeholder {
    color: #888888;
}
.contact-section .contact-form .form-control::-webkit-input-placeholder {
    color: #888888;
}

.contact-section .contact-form textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 140px;
}

.contact-section .contact-form .btn {
    background-color: #13A4FF;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 15px;
}





/*****************************************************************************
    Footer Style
******************************************************************************/

.footer {
    background-color: #ffffff;
    padding: 30px 0;
}

.footer P {
    margin: 0;
}